BasedOnStyle: Google
SortIncludes: false
IncludeBlocks: Preserve
ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Pointer
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: true
  AlignFunctionPointers: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
